  <aside class="sidefelt">
    <div class="sidefelt-boks">
      <h3>Kommende kurs</h3>
      <iframe
        src="https://open-web-calendar.hosted.quelltext.eu/calendar.html?url=https%3A%2F%2Fp58-caldav.icloud.com%2Fpublished%2F2%2FMTIzOTM2OTQ1MTIzOTM2Oad9yveyAQ23MMK2E8jnZvWuvfdzgACJSfRpyBqNjvYE7yAB3zM7JTKpnCd4vDWNNzLdLvzxf6uRKI-aYMWq7W0&title=&language=nb_NO&tab=agenda&hideHeader=true"
        style="border:none;width:100%" width="100%" height="260" frameborder="0"></iframe>
      <p class="lenke"><a href="kurs.html">Se alle →</a></p>
    </div>
    <div class="sidefelt-boks">
      <h3>@barnebokbad</h3>
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/296e23e477e75f8fbd311267caa36082.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </aside>
 
